<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Seleccione un cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div *ngIf="CargandoClientesDisponibles_spnner">
  <app-loading-spinner></app-loading-spinner>
  </div>
  <div *ngIf="!CargandoClientesDisponibles_spnner">
  <div *ngFor="let cliente of clientes_disponibles">
    <ion-list>
      <ion-item-sliding id="item100">
        <ion-item button (click)="irACrearPrestamos(cliente)">
          <ion-label>
            <h2>{{ cliente.nombre_completo }}</h2>
            <p>{{ cliente.telefono }}</p>
          </ion-label>
    <!-- Flechita del final -->
    <ion-icon name="arrow-dropright" ios="ios-arrow-forward" slot="end"></ion-icon>
        </ion-item>
    
        <ion-item-options side="start">
          <ion-item-option button (click)="abrirInformacionCliente(cliente)" >
            <ion-icon class="icon-size" slot="icon-only" name="contact" md="md-contact" ios="ios-contact"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>  
  </div>
  </div>
</ion-content>

