<app-menu></app-menu>
<mat-toolbar>
    Seleccione un cliente
</mat-toolbar>


<div class="d-flex justify-content-center">
  
    <div *ngIf="CargandoClientesDisponibles_spnner">
    <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="!CargandoClientesDisponibles_spnner">
    <div *ngFor="let cliente of clientes_disponibles">
    <mat-list>
        <mat-card>
            <a mat-line button (click)="irACrearPrestamos(cliente)">
                <mat-label>
                    <h2>{{ cliente.nombre_completo }}</h2>
                    <p>{{ cliente.telefono }}</p>
                </mat-label>
            <!-- Flechita del final -->
                <mat-icon class="material-icons">keyboard_arrow_right</mat-icon>
            </a>
             
            <button mat-icon-button (click)="abrirInformacionCliente(cliente)" >
                <mat-icon class="material-icons">account_circle</mat-icon>
            </button>
        </mat-card>
    </mat-list>  
    </div>
    </div>
  </div>
  
  