<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">      
      <ion-back-button href="/menu/inicio/tabs/clientes"></ion-back-button>
    </ion-buttons>
    <ion-title>Prestamos del Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<div *ngIf="prestamo_data">
  <ion-list>
    

      
    <ion-item>
      <ion-label color="primary" lines="inset">Monto:</ion-label>
      <ion-note color="dark">{{ prestamo.monto }}</ion-note>
    </ion-item>
  


    <ion-item>
      <ion-label color="primary" lines="inset">Amortizacion:</ion-label>
      <ion-note color="dark">{{ prestamo.amortizacion }}</ion-note>
    </ion-item>
  


    <ion-item>
      <ion-label color="primary" lines="inset">Periodo Pago:</ion-label>
      <ion-note color="dark">{{ prestamo.periodo_pago }}</ion-note>
    </ion-item>
  


    <ion-item>
      <ion-label color="primary" lines="inset">% Interes:</ion-label>
      <ion-note color="dark">{{ prestamo.porciento_interes }}</ion-note>  
    </ion-item>
  

    <ion-item>
      <ion-label color="primary" lines="inset">Cuotas:</ion-label>
      <ion-note color="dark">{{ prestamo.cuotas }}</ion-note>
    </ion-item>
  

  
  </ion-list>
    <ion-button color="primary" (click)="cancelar_Prestamo(prestamo_data.id_prestamo)" routerLink="/menu/inicio/tabs/clientes">Cancelar Prestamo</ion-button>

    <ion-list>
      <ion-grid>
  
        <ion-row>
          <ion-col>
            <div>
              <ion-item>
                <ion-label color="primary">Pago Mensual: </ion-label>
                <ion-input disabled type="text" [(ngModel)]="prestamo.pagoMensual"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div>
              <ion-item>
                <ion-label color="primary">Interes Total: </ion-label>
                <ion-input disabled type="text" [(ngModel)]="prestamo.interesTotal"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div>
              <ion-item>
                <ion-label color="primary">Pago Total: </ion-label>
                <ion-input disabled  type="text" [(ngModel)]="prestamo.pagoTotal"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-list>

</div>
           

<div *ngIf="!prestamo_data">
  <ion-text color="primary">
    <h2 style="text-align:center;">Aun no se ha registrado a ningún préstamo...</h2>
  </ion-text>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add" (click)="irACrearPrestamos()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>  

</ion-content>
