<ion-header>
  <ion-toolbar color="primary">
    <ion-title>PAYME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="center">
    <h2 text-center>
      <Strong ion-text>
        <span>
          Crear Cuenta
        </span>
      </Strong>
    </h2>
  </div>
  <form autocomplete="off" [formGroup]="formularioDeRegistro" (ngSubmit)="registrarse()" >
    <ion-list color="primary">
      <ion-item>
        <ion-label color="dark" position="floating">Nombre completo</ion-label>
        <ion-input formControlName="nombre_completo"  autocomplete="off" name="NombreCompleto" type="text" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" position="floating">Correo Eléctronico</ion-label>
        <ion-input formControlName="email" autocomplete="off" name="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" position="floating">Nombre de Usuario</ion-label>
        <ion-input formControlName="nombre_usuario"  autocomplete="off" name="username" type="text" autocomplete="off" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="dark" position="floating">Contraseña</ion-label>
        <ion-input formControlName="contra"  autocomplete="off" name="password" type="password" autocomplete="new-password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="dark" position="floating">Teléfono</ion-label>
        <ion-input formControlName="telefono"  autocomplete="off" name="Tel" type="number" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="dark" position="floating">Celular</ion-label>
        <ion-input formControlName="celular"  autocomplete="off" name="Cel" type="number" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="dark" position="floating">Fecha de Nacimiento</ion-label>
        <ion-datetime formControlName="fecha_nacimiento" name="fechNac" display-format="DD MMMM YYYY" ></ion-datetime>
      </ion-item>

      <ion-item lines='none'>
        <a routerLink='/login'>¿Ya tienes una cuenta? Inicia sesión aquí.</a>
      </ion-item>
    </ion-list>
    <ion-button [disabled]="!formularioDeRegistro.valid" expand="block" share="round" color="primary" type="submit" >Registrarse</ion-button>
  </form>
</ion-content>
