<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="inicio-tab" (click)="home()">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clientes" (click)="desLogearse()">
      <ion-icon name="person"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>