<ion-header>
  <ion-toolbar color="primary">
    <ion-title>PAYME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<div class="login-content">

  <!-- Logo -->
  <div padding-horizontal text-center class="animated fadeInDown">
    <div class="logo"></div>
    <h2 ion-text color="dark">
      <strong>
        <span>
          Inicio de Sesión
        </span>
      </strong>
    </h2>
  </div>

  <!-- Login form -->
  <form [formGroup]="formularioDeInicioDeSesion" autocomplete="off" (ngSubmit)="onLoggin()">
    <ion-list>
      <ion-item>
        <ion-label color="dark" position="floating">Correo</ion-label>
        <ion-input formControlName="email" autocomplete="off" type="text" name="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="dark" position="floating">Contraseña</ion-label>
        <ion-input formControlName="contra" autocomplete="new-password" type="password" name="password"></ion-input>
      </ion-item>

      <ion-item lines='none'>
        <a routerLink="/register">¿Eres nuevo? Crea una cuenta aquí</a>
      </ion-item>
    </ion-list>
    <ion-button [disabled]="!formularioDeInicioDeSesion.valid" expand="block" share="round" class="login" type="submit" >Login</ion-button>
  </form>
</div>
  
</ion-content>
