@import '~@angular/material/theming';
@include mat-core();

@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-primary: mat-palette($mat-green, 900);
$my-accent: mat-palette($mat-light-green, 800);
$my-theme: mat-light-theme($my-primary, $my-accent);

@include angular-material-theme($my-theme);


.alternative {
  $my-primary: mat-palette($mat-teal, 900);
  $my-accent: mat-palette($mat-light-green, 800);
  $my-theme: mat-light-theme($my-primary, $my-accent);
  @include angular-material-theme($my-theme);
}