<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div *ngIf="CargandoClientesConPrestamo_spnner">
  <app-loading-spinner ></app-loading-spinner>
  </div>

  <div *ngIf="!CargandoClientesConPrestamo_spnner">
    <div *ngFor="let cliente of clientes_conPrestamo">
        
      <ion-item >
        <ion-avatar slot="start">
          <ion-icon class="icon-size" (click)="abrirInformacionCliente(cliente)" color="primary" ios="ios-contact" md="md-contact"></ion-icon>
        </ion-avatar>
        <ion-label > 
          <h2 color="primary">{{ cliente.nombre_completo }}</h2> 
                              <p>{{ cliente.celular }}</p>
        </ion-label> 
        <ion-note slot="end" color="primary"><ion-icon class="icon-dollar" name="cash" (click)="abrirPrestamosConServicio(cliente.id_cliente, cliente.nombre_completo, cliente)"></ion-icon></ion-note>
      </ion-item>
      <!-- <ion-item lines="inset"> -->
        <!-- <ion-button expand="block" (click)="abrirInformacionCliente(cliente)" color="primary">Información del Cliente</ion-button> -->
      <!-- </ion-item> -->
    </div>
    </div> 




  
    <div *ngFor="let cliente of clientes_disponibles">
        
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon color="medium" class="icon-size" (click)="abrirInformacionCliente(cliente)" ios="ios-contact" md="md-contact"></ion-icon>
        </ion-avatar>
        <ion-label color="medium"> {{ cliente.nombre_completo }} 
          <p color="medium">{{ cliente.celular }}</p>
        </ion-label> 
        <ion-note slot="end" color="medium"><ion-icon class="icon-dollar" name="card" (click)="abrirPrestamosConServicio(cliente.id_cliente, cliente.nombre_completo, cliente)"></ion-icon></ion-note>
      </ion-item>
  
    </div>
    

</ion-content>




<!-- *ngIf="hay_clientes" -->





    <!-- <ion-content class="ion-padding" *ngIf="!hay_clientes" >
      <ion-list>
        <ion-list-header>
            <ion-text color="primary">
                <h2 style="text-align:center;">Aun no se ha registrado a ningún cliente...</h2>
              </ion-text>
          <ion-skeleton-text style="width: 20%"></ion-skeleton-text>
        </ion-list-header>
        </ion-list>
        
    </ion-content> -->


