<mat-toolbar color="primary" class="sticky-top">
    <span>Payme</span>
    <span class="spacer"></span>

    <button mat-button [matMenuTriggerFor]="menu">Inicio<mat-icon class="material-icons">expand_more</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home">Inicio / que es payne</button>
      <button mat-menu-item routerLink="/dashboard">Tablero</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu1">Clientes<mat-icon class="material-icons">expand_more</mat-icon></button>
    <mat-menu #menu1="matMenu">
      <button mat-menu-item routerLink="/clientes-lista">Clientes Existentes</button>
      <button mat-menu-item routerLink="/crear-clientes">Crear Clientes</button>
    </mat-menu>

    <button mat-button routerLink="/prestamos-lista-clientes">Prestamos</button>

    <button mat-button routerLink="/pagos">Pagos Realizados</button>

    <button mat-button routerLink="/to-do">Lista de tareas</button>

    <button mat-button><mat-icon routerDirection="root" (click)="desLogearse()" aria-hidden="false" class="material-icons">exit_to_app</mat-icon></button>
</mat-toolbar>

<!-- 
<mat-sidenav-container contentId="content" class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/home">Inicio</a>
        <a mat-list-item routerLink="/clientes-lista">Clientes</a>
        <a mat-list-item routerLink="/prestamos-lista-clientes">Prestamos</a>
        <a mat-list-item routerLink="/pagos">Pagos Realizados</a>
        <a mat-list-item><mat-icon routerDirection="root" (click)="desLogearse()" aria-hidden="false" class="material-icons">exit_to_app</mat-icon></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>payme-Angular</span>
      </mat-toolbar>
      
      <ng-content id="content" main></ng-content>

    </mat-sidenav-content>
  </mat-sidenav-container> -->