<mat-toolbar color="primary">
    <button mat-icon-button routerLink="/clientes-lista">
        <mat-icon class="material-icons">arrow_back</mat-icon>
    </button>
    Prestamos del Cliente
</mat-toolbar>


<div class="d-flex justify-content-center">

    <div *ngIf="prestamo_data">
        <mat-card>
            <mat-list>

                <mat-list-item>
                <div mat-line>Monto:</div>
                <div mat-line color="primary"><h3></h3>{{ prestamo.monto }}</div>
                </mat-list-item>
            
            
            
                <mat-list-item>
                <div mat-line>Amortizacion:</div>
                <div mat-line color="primary"><h3>{{ prestamo.amortizacion }}</h3></div>
                </mat-list-item>
            
            
            
                <mat-list-item>
                <div mat-line>Periodo Pago:</div>
                <div mat-line color="primary"><h3>{{ prestamo.periodo_pago }}</h3></div>
                </mat-list-item>
            
            
            
                <mat-list-item>
                <div mat-line>% Interes:</div>
                <div mat-line color="primary"><h3>{{ prestamo.porciento_interes }}</h3></div>
                </mat-list-item>
            
            
                <mat-list-item>
                <div mat-line>Cuotas:</div>
                <div mat-line color="primary"><h3>{{ prestamo.cuotas }}</h3></div>
                </mat-list-item>
            </mat-list>
      
        </mat-card>

        <button mat-button color="primary" (click)="cancelar_Prestamo(prestamo_data.id_prestamo)" routerLink="/clientes-lista">Cancelar Prestamo</button>
    
        
        <mat-card>
      
            <tr>
              <td>
                <div>
                  <mat-list-item>
                    <mat-label >Pago Mensual: </mat-label>
                    <div mat-line><h3>{{prestamo.pagoMensual}}</h3></div>
                  </mat-list-item>
                </div>
              </td>
            </tr>
    
            <tr>
              <td>
                <div>
                  <mat-list-item>
                    <mat-label >Interes Total: </mat-label>
                    <div mat-line><h3>{{prestamo.interesTotal}}</h3></div>
                  </mat-list-item>
                </div>
              </td>
            </tr>
    
            <tr>
              <td>
                <div>
                  <mat-list-item>
                    <mat-label >Pago Total: </mat-label>
                    <div mat-line><h3>{{prestamo.pagoTotal}}</h3></div>
                  </mat-list-item>
                </div>
              </td>
            </tr>

        </mat-card>
    
    </div>
               
    
    <div *ngIf="!prestamo_data">
      <section class="mat-typography" color="gray">
        <h2 style="text-align:center;">Aun no se ha registrado a ningún préstamo...</h2>
      </section>
      <button  (click)="irACrearPrestamos()" horizontal="end" vertical="bottom" slot="fixed" mat-fab color="primary" >
          <mat-icon name="add" class="material-icons">add</mat-icon>
      </button>
    </div>  
    
</div>
    