<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Crear Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]= "formularioDeCrearCliente" (ngSubmit)="agregar_cliente()">
    <ion-list>
      <ion-grid>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Nombre Completo</ion-label>
              <ion-input formControlName="nombre_completo" autocomplete="off" name="cliente" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Celular</ion-label>
              <ion-input  formControlName="celular" autocomplete="off" name="celular" type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

          <ion-item>
            <ion-label position="floating">Telefono</ion-label>
            <ion-input formControlName="telefono" autocomplete="off" name="telefono" type="number" ></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label position="floating">Cedula/Pasaporte</ion-label>
            <ion-input formControlName="cedula" autocomplete="off" name="cedulaPasaporte" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Direccion</ion-label>
            <ion-textarea formControlName="direccion" rows="3" autocomplete="off" name="direccion" type="text" ></ion-textarea>
          </ion-item>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Estado Civil</ion-label>
                <ion-select formControlName="estado_civil" ok-text="Aceptar" cancel-text="Cancelar" > <!-- (ionChange)="showselected(selectedVal)" -->
                <ion-select-option name="casado" value="Casado">Casado/Casada</ion-select-option>
                <ion-select-option name="soltero" value="Soltero">Soltero/Soltera</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Correo Electronico</ion-label>
                <ion-input formControlName="correo_electronico" autocomplete="off" name="email" type="email"></ion-input>
              </ion-item>
            </ion-col>
  
            <ion-col>
              <ion-item>
                <ion-label position="floating">Estado Laboral</ion-label>
                <ion-select formControlName="estado_laboral" ok-text="Aceptar" cancel-text="Cancelar" >
                  <ion-select-option value="Desempleado">Desempleado</ion-select-option>
                  <ion-select-option value="Empleado">Empleado</ion-select-option>
                </ion-select>
              </ion-item>

            </ion-col>
  
            <ion-col>
              <ion-item>
                <ion-label position="floating">Ingresos Mensuales</ion-label>
                <ion-input formControlName="sueldo" autocomplete="off" name="ingresos" type="number" ></ion-input>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item>
                <ion-label position="floating">Plazo de salario</ion-label>
                <ion-select formControlName="modalidad_sueldo" ok-text="Aceptar" cancel-text="Cancelar">
                  <ion-select-option value="Diario">Diario</ion-select-option>
                  <ion-select-option value="Semanal">Semanal</ion-select-option>
                  <ion-select-option value="Quincenal">Quincenal</ion-select-option>
                  <ion-select-option value="Mensual">Mensual</ion-select-option>
                  <ion-select-option value="Anual">Anual</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

            <ion-col>
                <ion-item>
                  <ion-label position="floating">Ingresos Extras</ion-label>
                  <ion-input formControlName="ingresos_adicionales" autocomplete="off" name="ingresos" type="number"></ion-input>
                </ion-item>
              </ion-col>
          </ion-row>

          <hr>
        <ion-list>
          <ion-list-header color="primary" class="listaheader">Pariente cercano que no viva con usted</ion-list-header>

          <ion-col>
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input formControlName="pariente_nombre" autocomplete="off" name="pariente_nombre" type="text"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-label position="floating">Celular</ion-label>
              <ion-input formControlName="pariente_celular" autocomplete="off" name="pariente_celular" type="number"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-label position="floating">Correo Electronico</ion-label>
              <ion-input formControlName="pariente_email" autocomplete="off" name="pariente_email" type="email"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col>
              <ion-item>
                <ion-label position="floating">Parentezco</ion-label>
                <ion-input formControlName="pariente_parentezco" autocomplete="off" name="pariente_parentezco" type="text"></ion-input>
              </ion-item>
            </ion-col>

        </ion-list>
        
        <hr>
        <ion-list>
            <ion-list-header color="primary" class="listaheader">Persona de respaldo al prestamo:</ion-list-header>
  
            <ion-col>
              <ion-item lines="full">
                <ion-label position="floating">Nombre</ion-label>
                <ion-input formControlName="garante_nombre" autocomplete="off" name="garante_nombre" type="text"></ion-input>
              </ion-item>
            </ion-col>
  
            <ion-col>
              <ion-item>
                <ion-label position="floating">Celular</ion-label>
                <ion-input formControlName="garante_celular" autocomplete="off" name="garante_celular" type="number"></ion-input>
              </ion-item>
            </ion-col>
  
            <ion-col>
              <ion-item>
                <ion-label position="floating">Correo Electronico</ion-label>
                <ion-input formControlName="garante_email" autocomplete="off" name="garante_email" type="email"></ion-input>
              </ion-item>
            </ion-col>
  
          </ion-list>

      </ion-grid>
    </ion-list>
  <ion-button [disabled]="!formularioDeCrearCliente.valid" expand="block" share="round" color="primary" type="submit" >Registrar Cliente</ion-button>
  
  </form>
</ion-content>
