<app-menu></app-menu>

<mat-toolbar>Clientes</mat-toolbar>
  
<div class="p-1">
    
    <div *ngIf="CargandoClientesConPrestamo_spnner">
    <app-loading-spinner ></app-loading-spinner>
    </div>
  
    <div *ngIf="!CargandoClientesConPrestamo_spnner">
      <div *ngFor="let cliente of clientes_conPrestamo">
          
        <mat-card>
           
          <mat-label>
            <button mat-icon-button>
            <mat-icon class="material-icons" (click)="abrirInformacionCliente(cliente)">account_circle</mat-icon> 
            </button>
            <h2 color="primary">{{ cliente.nombre_completo }}</h2> 
                                <p>{{ cliente.celular }}</p>
            <button mat-icon-button>
                <mat-icon class="material-icons" (click)="abrirPrestamosConServicio(cliente.id_cliente, cliente.nombre_completo, cliente)">monetization_on</mat-icon>
            </button>
          </mat-label> 
          
        </mat-card>
        <!-- <mat-card lines="inset"> -->
          <!-- <ion-button expand="block" (click)="abrirInformacionCliente(cliente)" color="primary">Información del Cliente</ion-button> -->
        <!-- </mat-card> -->
      </div>
      </div> 
  
  
  
  
    
      <div *ngFor="let cliente of clientes_disponibles">
          
        <mat-card>
            <mat-label>
            <button mat-icon-button>
                <mat-icon class="material-icons" class="icon-size" (click)="abrirInformacionCliente(cliente)">account_circle</mat-icon>
            </button>
                <h3>{{ cliente.nombre_completo }}</h3>
                <p>{{ cliente.celular }}</p>
            <button mat-icon-button>
                <mat-icon class="material-icons" (click)="abrirPrestamosConServicio(cliente.id_cliente, cliente.nombre_completo, cliente)">monetization_on</mat-icon>
            </button>
            </mat-label> 
        </mat-card>
    
      </div>
      
  
</div>