<mat-toolbar color="primary">
    <span class="span">Payme</span>
</mat-toolbar>

<div  class="d-flex justify-content-center">
    <!-- Login form -->
    <mat-card>

      <mat-card-header>
        <mat-card-title>Inicio de Sesión</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form class="example-form" [formGroup]="formularioDeInicioDeSesion" autocomplete="off" (ngSubmit)="onLoggin()">
          <table class="example-full-width" cellspacing="0">
            <mat-list>
              <tr>
                <td>
                  <mat-form-field appearance="legacy">
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="email" type="text" name="username">
                  </mat-form-field>
                </td>
              </tr>
        
              <tr>
                <td>
                  <mat-form-field appearance="legacy">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="contra" type="password" name="password">
                  </mat-form-field>
                </td>
              </tr>

              <button mat-stroked-button routerLink="/register">¿Eres nuevo? Crea una cuenta aquí</button>
            </mat-list>
          </table>
          <mat-card-actions>
            <button mat-raised-button [disabled]="!formularioDeInicioDeSesion.valid" expand="block" share="round" class="login" type="submit" >Login</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
</div>
    