<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="clientes-tab">
      <ion-icon name="person"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="crear-clientes-tab">
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Crear Clientes</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>