<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">      
        <ion-back-button defaultHref="/menu/inicio/tabs/clientes"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Clientes Info</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content class="ion-padding">
  <form [formGroup]= "formularioDeActualizarInformacionDelCliente" (ngSubmit)="ActualizarCliente()">
  <ion-list>
    <ion-grid>

      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label color="primary">Nombre: </ion-label>
              <ion-input  formControlName="nombre_completo" autocomplete="off" name="cliente" type="text" [(ngModel)]="cliente.nombre_completo"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label color="primary">Celular: </ion-label>
              <ion-input formControlName="celular" autocomplete="off" name="celular" type="text" [(ngModel)]="cliente.celular"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label color="primary">Telefono: </ion-label>
              <ion-input  formControlName="telefono" autocomplete="off" name="telefono" type="text" [(ngModel)]="cliente.telefono"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label color="primary">Correo Electronico: </ion-label>
              <ion-input  formControlName="correo_electronico" autocomplete="off" name="email" type="email" [(ngModel)]="cliente.correo_electronico"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label color="primary">Cedula: </ion-label>
              <ion-input  formControlName="cedula" autocomplete="off" name="cedulaPasaporte" type="text" [(ngModel)]="cliente.cedula"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label color="primary">Direccion: </ion-label>
              <ion-textarea   formControlName="direccion" rows="3" autocomplete="off" name="direccion" type="text" [(ngModel)]="cliente.direccion"></ion-textarea>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label color="primary">Estado civil: </ion-label>
              <ion-select formControlName="estado_civil" ok-text="Aceptar" cancel-text="Cancelar" [(ngModel)]="cliente.estado_civil"> <!-- (ionChange)="showselected(selectedVal)" -->
                <ion-select-option name="casado" value="Casado">Casado/Casada</ion-select-option>
                <ion-select-option name="soltero" value="Soltero">Soltero/Soltera</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label color="primary">Estado Laboral: </ion-label>
              <ion-select formControlName="estado_laboral" ok-text="Aceptar" cancel-text="Cancelar" [(ngModel)]="cliente.estado_laboral">
                <ion-select-option value="Desempleado">Desempleado</ion-select-option>
                <ion-select-option value="Empleado">Empleado</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label color="primary">Sueldo: </ion-label>
              <ion-input  formControlName="sueldo" autocomplete="off" name="ingresos" type="text" [(ngModel)]="cliente.sueldo"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label color="primary">Plazo de salario: </ion-label>
              <ion-select  formControlName="modalidad_sueldo" ok-text="Aceptar" cancel-text="Cancelar" [(ngModel)]="cliente.modalidad_sueldo">
                <ion-select-option value="Diario">Diario</ion-select-option>
                <ion-select-option value="Semanal">Semanal</ion-select-option>
                <ion-select-option value="Quincenal">Quincenal</ion-select-option>
                <ion-select-option value="Mensual">Mensual</ion-select-option>
                <ion-select-option value="Anual">Anual</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label color="primary">Ingresos Extras: </ion-label>
              <ion-input  formControlName="ingresos_adicionales" autocomplete="off" name="ingresos" type="text" [(ngModel)]="cliente.ingresos_adicionales"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>





      <ion-list-header>
        <ion-list-header color="primary" class="listaheader">Persona de respaldo al prestamo</ion-list-header>
      </ion-list-header>

      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label color="primary">Nombre: </ion-label>
              <ion-input  formControlName="garante_nombre" autocomplete="off" name="garante_nombre" type="text" [(ngModel)]="cliente.garante_nombre"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label color="primary">Celular: </ion-label>
              <ion-input  formControlName="garante_celular" autocomplete="off" name="garante_celular" type="text" [(ngModel)]="cliente.garante_celular"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label color="primary">Correo Electronico: </ion-label>
              <ion-input  formControlName="garante_email" autocomplete="off" name="garante_email" type="email" [(ngModel)]="cliente.garante_email"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>




      <ion-list-header>
        <ion-list-header color="primary" class="listaheader">Pariente cercano que no viva con usted</ion-list-header>
      </ion-list-header>

      <ion-row>
          <ion-col>
            <div>
              <ion-item>
                <ion-label color="primary">Nombre: </ion-label>
                <ion-input  formControlName="pariente_nombre" autocomplete="off" name="pariente_nombre" type="text" [(ngModel)]="cliente.pariente_nombre"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <div>
              <ion-item>
                <ion-label color="primary">Celular: </ion-label>
                <ion-input  formControlName="pariente_celular" autocomplete="off" name="pariente_celular" type="text" [(ngModel)]="cliente.pariente_celular"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <div>
              <ion-item>
                <ion-label color="primary">Correo Electronico: </ion-label>
                <ion-input  formControlName="pariente_email" autocomplete="off" name="pariente_email" type="email" [(ngModel)]="cliente.pariente_email"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div>
              <ion-item>
                <ion-label color="primary">Parentezco: </ion-label>
                <ion-input  formControlName="pariente_parentezco" autocomplete="off" name="pariente_parentezco" type="text" [(ngModel)]="cliente.pariente_parentezco"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        
          <ion-button [disabled]="!formularioDeActualizarInformacionDelCliente.valid" expand="block" color="primary" type="submit">Guardar cambios</ion-button>
        
    </ion-grid>
  </ion-list>
</form>
</ion-content>
