<mat-toolbar color="primary">
    <button mat-icon-button routerLink="/prestamos-lista-clientes">
      <mat-icon class="material-icons">arrow_back</mat-icon>
    </button>
    Crear Prestamos
</mat-toolbar>


<div class="d-flex justify-content-center">
    <form>
      <mat-list>
        <mat-card>
  
          <h1>
            <mat-form-field lines="full">
              <input matInput class="alinearNombre" name="cliente" [(ngModel)]="cliente_nombre" disabled>
            </mat-form-field>
          </h1>
  
          <tr>

            <td>
              <mat-form-field>
                <mat-label position="floating">Monto</mat-label>
                <input matInput autocomplete="off" name="monto" type="text" [(ngModel)]="prestamo.monto">
              </mat-form-field>
            </td>
          </tr>
  
          
            <mat-form-field>
              <mat-label position="floating">Amortizacion</mat-label>
              <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="prestamo.amortizacion" > <!-- (ionChange)="showselected(selectedVal)" -->
                <!-- <mat-option name="cuotasFijas" value="Cuotas Fijas">Cuotas Fijas</mat-option>
                <mat-option name="disminuirCuotas" value="Disminuir Cuotas">Disminuir Cuotas</mat-option> -->
                <mat-option name="interesFijo" value="Interes Fijo">Interés Fijo</mat-option>
              </mat-select>
            </mat-form-field>
  
  
          <tr>
            <td>
              <mat-form-field>
                <mat-label position="floating">Periodo Pago</mat-label>
                <mat-select [ngModelOptions]="{standalone: true}"  [(ngModel)]="prestamo.periodo_pago">
                  <mat-option value="Diario">Diario</mat-option>
                  <mat-option value="Semanal">Semanal</mat-option>
                  <mat-option value="Quincenal">Quincenal</mat-option>
                  <mat-option value="Mensual">Mensual</mat-option>
                  <mat-option value="Anual">Anual</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label position="floating">% Interes</mat-label>
                <input matInput autocomplete="off" name="interes" type="text" [(ngModel)]="prestamo.porciento_interes">
              </mat-form-field>
            </td>
          </tr>
  
          <tr>
            
              <td>
                <mat-form-field>
                  <mat-label position="floating">Cuotas</mat-label>
                  <input matInput autocomplete="off" name="cuotas" type="text" [(ngModel)]="prestamo.cuotas">
                </mat-form-field>

                <mat-form-field>
                  <mat-label position="floating">Tipo de Tasa</mat-label>
                  <mat-select [ngModelOptions]="{standalone: true}"  [(ngModel)]="prestamo.tipo_tasa">
                    <mat-option value="Mensual">Mensual</mat-option>
                    <mat-option value="Anual">Anual</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
  <!--   
              <td>
                <mat-form-field>
                  <mat-label position="floating">Fecha Creacion</mat-label>
                  <ion-datetime name="name" display-format="DD MMMM YYYY" [(ngModel)]="prestamo.fecha_creacion"></ion-datetime>
                </mat-form-field>
              </td>
     -->
          </tr>
  
          <button mat-button expand="block" share="round" color="primary" (click)="agregar_Prestamos()">Crear Prestamo</button>
        </mat-card>
      </mat-list>
   
    
    </form>
  
</div>
  
<div style="float: left; padding: 10px; text-align: center">
  <div>Valor de la cuota</div>
  <div id="div-valor-cuota" style="font-weight: bold"></div>
  <br>
  <div style="padding: 10px; border: 1px dashed gray; background-color: #0d4393; color: white; border-radius: 10px; -webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.38);
    box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.38);" id="div-comentario"></div>
 </div>


<div>
<table id="table-2" style="width: 100%; text-align: right; border: 1px gray solid; border-collapse: collapse">
    <caption>Tabla de amortización</caption>
        <tbody><tr>
            <th>Número</th>
            <th>Interés</th>
            <th>Abono al capital</th>
            <th>Valor de la cuota</th>
            <th>Saldo al capital</th>
        </tr>
    </tbody>
    <tbody id="tbody_1">

    </tbody>
</table>
</div>

  
  