<app-menu></app-menu>
<mat-toolbar>Crear Clientes</mat-toolbar>

<div class="d-flex justify-content-center">
    <form [formGroup]= "formularioDeCrearCliente" (ngSubmit)="agregar_cliente()" >
      <mat-list>
        <mat-card>
          <tr>
            <td>
              <mat-form-field>
                <mat-label position="floating">Nombre Completo</mat-label>
                <input matInput formControlName="nombre_completo" autocomplete="off" name="cliente" type="text">
              </mat-form-field>

              <mat-form-field>
                <mat-label position="floating">Celular</mat-label>
                <input matInput  formControlName="celular" autocomplete="off" name="celular" type="number">
              </mat-form-field>
            </td>
          </tr>
  
            <mat-form-field>
              <mat-label position="floating">Telefono</mat-label>
              <input matInput formControlName="telefono" autocomplete="off" name="telefono" type="number" >
            </mat-form-field>
          
            <mat-form-field>
              <mat-label position="floating">Cedula/Pasaporte</mat-label>
              <input matInput formControlName="cedula" autocomplete="off" name="cedulaPasaporte" type="text">
            </mat-form-field>
  
            <mat-form-field>
              <mat-label position="floating">Direccion</mat-label>
              <textarea matInput formControlName="direccion" rows="3" autocomplete="off" name="direccion" type="text" ></textarea>
            </mat-form-field>
  
          <tr>
            <td>
              <mat-form-field>
                <mat-label position="floating">Estado Civil</mat-label>
                <mat-select formControlName="estado_civil" ok-text="Aceptar" cancel-text="Cancelar" > <!-- (ionChange)="showselected(selectedVal)" -->
                  <mat-option name="casado" value="Casado">Casado/Casada</mat-option>
                  <mat-option name="soltero" value="Soltero">Soltero/Soltera</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label position="floating">Correo Electronico</mat-label>
                <input matInput formControlName="correo_electronico" autocomplete="off" name="email" type="email">
              </mat-form-field>

              <mat-form-field>
                <mat-label position="floating">Estado Laboral</mat-label>
                <mat-select formControlName="estado_laboral" ok-text="Aceptar" cancel-text="Cancelar" >
                  <mat-option value="Desempleado">Desempleado</mat-option>
                  <mat-option value="Empleado">Empleado</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
  
          <tr>
            <td>
              <mat-form-field>
                <mat-label position="floating">Ingresos Mensuales</mat-label>
                <input matInput formControlName="sueldo" autocomplete="off" name="ingresos" type="number" >
              </mat-form-field>

              <mat-form-field>
                <mat-label position="floating">Plazo de salario</mat-label>
                <mat-select formControlName="modalidad_sueldo" ok-text="Aceptar" cancel-text="Cancelar">
                  <mat-option value="Diario">Diario</mat-option>
                  <mat-option value="Semanal">Semanal</mat-option>
                  <mat-option value="Quincenal">Quincenal</mat-option>
                  <mat-option value="Mensual">Mensual</mat-option>
                  <mat-option value="Anual">Anual</mat-option>
                </mat-select>
              </mat-form-field>

                <mat-form-field>
                  <mat-label position="floating">Ingresos Extras</mat-label>
                  <input matInput formControlName="ingresos_adicionales" autocomplete="off" name="ingresos" type="number">
                </mat-form-field>
              </td>
          </tr>
  
            <hr>
          <mat-list>
            <div mat-subheader>Pariente cercano que no viva con usted</div>

            <td>
              <mat-form-field>
                <mat-label position="floating">Nombre</mat-label>
                <input matInput formControlName="pariente_nombre" autocomplete="off" name="pariente_nombre" type="text">
              </mat-form-field>

              <mat-form-field>
                <mat-label position="floating">Celular</mat-label>
                <input matInput formControlName="pariente_celular" autocomplete="off" name="pariente_celular" type="number">
              </mat-form-field>

              <mat-form-field>
                <mat-label position="floating">Correo Electronico</mat-label>
                <input matInput formControlName="pariente_email" autocomplete="off" name="pariente_email" type="email">
              </mat-form-field>

                <mat-form-field>
                  <mat-label position="floating">Parentezco</mat-label>
                  <input matInput formControlName="pariente_parentezco" autocomplete="off" name="pariente_parentezco" type="text">
                </mat-form-field>
              </td>
  
          </mat-list>
          
          <hr>
          <mat-list>
            <div mat-subheader>Persona de respaldo al prestamo</div>
            <td>
              <mat-form-field lines="full">
                <mat-label position="floating">Nombre</mat-label>
                <input matInput formControlName="garante_nombre" autocomplete="off" name="garante_nombre" type="text">
              </mat-form-field>

              <mat-form-field>
                <mat-label position="floating">Celular</mat-label>
                <input matInput formControlName="garante_celular" autocomplete="off" name="garante_celular" type="number">
              </mat-form-field>

              <mat-form-field>
                <mat-label position="floating">Correo Electronico</mat-label>
                <input matInput formControlName="garante_email" autocomplete="off" name="garante_email" type="email">
              </mat-form-field>
            </td>
  
          </mat-list>

          <button mat-button [disabled]="!formularioDeCrearCliente.valid" expand="block" share="round" color="primary" type="submit" >Registrar Cliente</button>
        </mat-card>
      </mat-list>
    
    </form>
</div>