<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista Diaria/Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  Lista Diaria / Notas
</ion-content>

