<mat-toolbar color="primary" >
  <button mat-icon-button routerLink="/clientes-lista">
    <mat-icon class="material-icons">arrow_back</mat-icon>
  </button>
  Clientes Info
</mat-toolbar>

<div class="d-flex justify-content-center">
    <form [formGroup]= "formularioDeActualizarInformacionDelCliente" (ngSubmit)="ActualizarCliente()">
    <mat-list>
      <mat-card>
  
        <tr>
          <td>
            <div>
              <mat-form-field>
                <mat-label color="primary">Nombre: </mat-label>
                <input matInput formControlName="nombre_completo" autocomplete="off" name="cliente" type="text" [(ngModel)]="cliente.nombre_completo">
              </mat-form-field>
            </div>
          </td>
        </tr>
  
        <tr>
          <td>
            <div>
              <mat-form-field>
                <mat-label color="primary">Celular: </mat-label>
                <input matInput formControlName="celular" autocomplete="off" name="celular" type="text" [(ngModel)]="cliente.celular">
              </mat-form-field>
            </div>
          </td>
        </tr>
  
        <tr>
          <td>
            <div>
              <mat-form-field>
                <mat-label color="primary">Telefono: </mat-label>
                <input matInput formControlName="telefono" autocomplete="off" name="telefono" type="text" [(ngModel)]="cliente.telefono">
              </mat-form-field>
            </div>
          </td>
        </tr>
  
        <tr>
          <td>
            <div>
              <mat-form-field>
                <mat-label color="primary">Correo Electronico: </mat-label>
                <input matInput formControlName="correo_electronico" autocomplete="off" name="email" type="email" [(ngModel)]="cliente.correo_electronico">
              </mat-form-field>
            </div>
          </td>
        </tr>
  
        <tr>
          <td>
            <div>
              <mat-form-field>
                <mat-label color="primary">Cedula: </mat-label>
                <input matInput formControlName="cedula" autocomplete="off" name="cedulaPasaporte" type="text" [(ngModel)]="cliente.cedula">
              </mat-form-field>
            </div>
          </td>
        </tr>
  
        <tr>
          <td>
            <div>
              <mat-form-field>
                <mat-label color="primary">Direccion: </mat-label>
                <textarea matInput formControlName="direccion" rows="3" autocomplete="off" name="direccion" type="text" [(ngModel)]="cliente.direccion"></textarea>
              </mat-form-field>
            </div>
          </td>
        </tr>
  
        <tr>
          <td>
            <div>
              <mat-form-field>
                <mat-label color="primary">Estado civil: </mat-label>
                <mat-select formControlName="estado_civil" [(ngModel)]="cliente.estado_civil"> <!-- (ionChange)="showselected(selectedVal)" -->
                  <mat-option name="casado" value="Casado">Casado/Casada</mat-option>
                  <mat-option name="soltero" value="Soltero">Soltero/Soltera</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </td>
        </tr>
  
        <tr>
          <td>
            <div>
              <mat-form-field>
                <mat-label color="primary">Estado Laboral: </mat-label>
                <mat-select formControlName="estado_laboral" [(ngModel)]="cliente.estado_laboral">
                  <mat-option value="Desempleado">Desempleado</mat-option>
                  <mat-option value="Empleado">Empleado</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </td>
        </tr>
  
        <tr>
          <td>
            <div>
              <mat-form-field>
                <mat-label color="primary">Sueldo: </mat-label>
                <input matInput formControlName="sueldo" autocomplete="off" name="ingresos" type="text" [(ngModel)]="cliente.sueldo">
              </mat-form-field>
            </div>
          </td>
        </tr>
  
        <tr>
          <td>
            <div>
              <mat-form-field>
                <mat-label color="primary">Plazo de salario: </mat-label>
                <mat-select  formControlName="modalidad_sueldo" [(ngModel)]="cliente.modalidad_sueldo">
                  <mat-option value="Diario">Diario</mat-option>
                  <mat-option value="Semanal">Semanal</mat-option>
                  <mat-option value="Quincenal">Quincenal</mat-option>
                  <mat-option value="Mensual">Mensual</mat-option>
                  <mat-option value="Anual">Anual</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </td>
        </tr>
  
        <tr>
          <td>
            <div>
              <mat-form-field>
                <mat-label color="primary">Ingresos Extras: </mat-label>
                <input matInput formControlName="ingresos_adicionales" autocomplete="off" name="ingresos" type="text" [(ngModel)]="cliente.ingresos_adicionales">
              </mat-form-field>
            </div>
          </td>
        </tr>
  
  
  
  
        <div mat-subheader>Persona de respaldo al prestamo</div>
  
        <tr>
          <td>
            <div>
              <mat-form-field>
                <mat-label color="primary">Nombre: </mat-label>
                <input matInput formControlName="garante_nombre" autocomplete="off" name="garante_nombre" type="text" [(ngModel)]="cliente.garante_nombre">
              </mat-form-field>
            </div>
          </td>
        </tr>
  
        <tr>
          <td>
            <div>
              <mat-form-field>
                <mat-label color="primary">Celular: </mat-label>
                <input matInput formControlName="garante_celular" autocomplete="off" name="garante_celular" type="text" [(ngModel)]="cliente.garante_celular">
              </mat-form-field>
            </div>
          </td>
        </tr>
  
        <tr>
          <td>
            <div>
              <mat-form-field>
                <mat-label color="primary">Correo Electronico: </mat-label>
                <input matInput formControlName="garante_email" autocomplete="off" name="garante_email" type="email" [(ngModel)]="cliente.garante_email">
              </mat-form-field>
            </div>
          </td>
        </tr>
  
  
  
        <div mat-subheader>Pariente cercano que no viva con usted</div>
  
        <tr>
            <td>
              <div>
                <mat-form-field>
                  <mat-label color="primary">Nombre: </mat-label>
                  <input matInput formControlName="pariente_nombre" autocomplete="off" name="pariente_nombre" type="text" [(ngModel)]="cliente.pariente_nombre">
                </mat-form-field>
              </div>
            </td>
          </tr>
    
          <tr>
            <td>
              <div>
                <mat-form-field>
                  <mat-label color="primary">Celular: </mat-label>
                  <input matInput formControlName="pariente_celular" autocomplete="off" name="pariente_celular" type="text" [(ngModel)]="cliente.pariente_celular">
                </mat-form-field>
              </div>
            </td>
          </tr>
    
          <tr>
            <td>
              <div>
                <mat-form-field>
                  <mat-label color="primary">Correo Electronico: </mat-label>
                  <input matInput formControlName="pariente_email" autocomplete="off" name="pariente_email" type="email" [(ngModel)]="cliente.pariente_email">
                </mat-form-field>
              </div>
            </td>
          </tr>
  
          <tr>
            <td>
              <div>
                <mat-form-field>
                  <mat-label color="primary">Parentezco: </mat-label>
                  <input matInput formControlName="pariente_parentezco" autocomplete="off" name="pariente_parentezco" type="text" [(ngModel)]="cliente.pariente_parentezco">
                </mat-form-field>
              </div>
            </td>
          </tr>
  
          
            <button mat-button [disabled]="!formularioDeActualizarInformacionDelCliente.valid" expand="block" color="primary" type="submit">Guardar cambios</button>
          
      </mat-card>
    </mat-list>
  </form>
  </div>
  