<mat-toolbar color="primary">
    <span class="span">Payme</span>
</mat-toolbar>

<div class="d-flex justify-content-center align-items-center align-self-center">
  <mat-card >
    <mat-card-header>
        <mat-card-title>Crear Cuenta</mat-card-title>
    </mat-card-header>
  
    <mat-card-content >
      
      <form autocomplete="off" [formGroup]="formularioDeRegistro" (ngSubmit)="registrarse()">
  
        <mat-list>
  
          <tr>
            <td>
              <mat-form-field appearance="legacy">
                <mat-label>Nombre completo</mat-label>
                <input matInput formControlName="nombre_completo"  autocomplete="off" name="NombreCompleto" type="text" >
              </mat-form-field>
            
              <mat-form-field appearance="legacy">
                <mat-label>Correo Eléctronico</mat-label>
                <input matInput formControlName="email" autocomplete="off" name="email" type="email">
              </mat-form-field>
            </td>
          </tr>
  
          <tr>
            <td>
              <mat-form-field appearance="legacy">
                <mat-label>Nombre de Usuario</mat-label>
                <input matInput formControlName="nombre_usuario"  autocomplete="off" name="username" type="text" autocomplete="off" >
              </mat-form-field>
            
              <mat-form-field appearance="legacy">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="contra"  autocomplete="off" name="password" type="password" autocomplete="new-password">
              </mat-form-field>
            </td>
          </tr>
  
          <tr>
            <td>
              <mat-form-field appearance="legacy">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="telefono"  autocomplete="off" name="Tel" type="number" >
              </mat-form-field>
            
              <mat-form-field appearance="legacy">
                <mat-label>Celular</mat-label>
                <input matInput formControlName="celular"  autocomplete="off" name="Cel" type="number" >
              </mat-form-field>
            </td>
          </tr>
  
          <tr>
            <td>
              <mat-form-field appearance="legacy">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento" name="fechNac" display-format="DD MMMM YYYY">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
            <button mat-stroked-button routerLink='/login'>¿Ya tienes una cuenta? Inicia sesión aquí.</button>
  
        </mat-list>
        <mat-card-actions>
          <button mat-raised-button [disabled]="!formularioDeRegistro.valid" expand="block" share="round" color="primary" type="submit" >Registrarse</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
  