<app-menu></app-menu>
<mat-toolbar>
    <span class="span">Lista de tareas</span>
</mat-toolbar>

<div class="d-flex justify-content-center">
    <mat-card>
        <form (submit)="addNewTodo()">
            <div class="form-group">
              <input [(ngModel)]="description" type="text" name="description" class="form-control" placeholder="Escriba la tarea a realizar">
            </div>
            <input class="btn btn-primary" type="submit"value="Agregar Tarea">
          </form>
          <br>
          <ul class="list-group">
            <li class="list-group-item" [class.is-done]="todo.isDone" *ngFor="let todo of todos" (click)="todo.isDone = !todo.isDone">
              {{todo.description}}
              <br>
            </li>
          </ul>
    </mat-card>
  </div>