<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/menu/inicio/tabs/clientes"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Prestamos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <ion-list>
      <ion-grid>

        <h1>
          <ion-item lines="full">
            <!-- <ion-select [ngModelOptions]="{standalone: true}" [(ngModel)]="prestamo.amortizacion" ok-text="Aceptar" cancel-text="Cancelar"> 
              <ion-select-option name="cliente" selected>{{ cliente_del_prestamo }}</ion-select-option>
            </ion-select> -->
            <ion-input class="alinearNombre" name="cliente" disabled> {{ cliente_nombre }} </ion-input>
          </ion-item>
        </h1>

        <ion-row>

          <ion-col>
            <ion-item>
              <ion-label position="floating">Monto</ion-label>
              <ion-input autocomplete="off" name="monto" type="text" [(ngModel)]="prestamo.monto"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        
          <ion-item>
            <ion-label position="floating">Amortizacion</ion-label>
            <ion-select [ngModelOptions]="{standalone: true}" [(ngModel)]="prestamo.amortizacion" ok-text="Aceptar" cancel-text="Cancelar"> <!-- (ionChange)="showselected(selectedVal)" -->
              <!-- <ion-select-option name="cuotasFijas" value="Cuotas Fijas">Cuotas Fijas</ion-select-option>
              <ion-select-option name="disminuirCuotas" value="Disminuir Cuotas">Disminuir Cuotas</ion-select-option> -->
              <ion-select-option name="interesFijo" value="Interes Fijo">Interés Fijo</ion-select-option>
            </ion-select>
          </ion-item>


        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Periodo Pago</ion-label>
              <ion-select  [ngModelOptions]="{standalone: true}" ok-text="Aceptar" cancel-text="Cancelar" [(ngModel)]="prestamo.periodo_pago">
                <!-- <ion-select-option value="Diario">Diario</ion-select-option>
                <ion-select-option value="Semanal">Semanal</ion-select-option>
                <ion-select-option value="Quincenal">Quincenal</ion-select-option> -->
                <!-- <ion-select-option value="Mensual">Mensual</ion-select-option> -->
                <ion-select-option value="Mensual">Mensual</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>


          <ion-col>
            <ion-item>
              <ion-label position="floating">% Interes</ion-label>
              <ion-input autocomplete="off" name="interes" type="text" [(ngModel)]="prestamo.porciento_interes"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          
            <ion-col>
              <ion-item>
                <ion-label position="floating">Cuotas</ion-label>
                <ion-input autocomplete="off" name="cuotas" type="text" [(ngModel)]="prestamo.cuotas"></ion-input>
              </ion-item>
            </ion-col>
<!--   
            <ion-col>
              <ion-item>
                <ion-label position="floating">Fecha Creacion</ion-label>
                <ion-datetime name="name" display-format="DD MMMM YYYY" [(ngModel)]="prestamo.fecha_creacion"></ion-datetime>
              </ion-item>
            </ion-col>
   -->
        </ion-row>

      </ion-grid>
    </ion-list>
  <ion-button expand="block" share="round" color="primary" (click)="agregar_Prestamos()">Crear Prestamo</ion-button>
  
  </form>
</ion-content>

