.header{
    color: rgb(43, 116, 2);
}

.listaheader{
    color: "primary";
}

.alinearNombre{
    text-align: center; 

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
    
}